#body {
  background-image: url('https://lucasdeman.github.io/backgroundmario.jpg');
	background-size: cover;
    background-repeat: no-repeat;
}
h1 {
  font-size: 450%;
  color: black;
  text-align: center;
  top: 5%;
}
#minesweeper {
  position: absolute;
  width: 7.5%;
  height: 15%;
  background-image: url('https://vignette.wikia.nocookie.net/b__/images/3/34/Bomb_Tower_Icon.png/revision/latest?cb=20151212161118&path-prefix=bloons');
    background-size: cover;
  left: 47.5%;
  top: 24.5%;
}
#cookieclicker {
  position: absolute;
  width: 7.5%;
  height: 15%;
  background-image: url('http://www.greatamericancookies.com/app/themes/greatamericancookies/library/images/home/carousel3.png');
    background-size: cover;
  left: 38.5%;
  top: 42%;
}
#boterkaaseneieren {
  position: absolute;
  width: 7.5%;
  height: 15%;
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/1/1d/Tic-tac-toe_%28PSF%29.png?uselang=nl');
  background-size: cover;
  left: 47.5%;
  top: 42%;
}
#ontwijk {
  position: absolute;
  width: 7.5%;
  height: 15%;
  background-image: url('http://kinderspelletjes.spelletjes-voor-kinderen.nl/sites/default/files/imagecache/200_200/large_391139[1].jpg');
  background-size: cover;
  left: 56.5%;
  top: 42%;
}
#schieten {
  position: absolute;
  width: 7.5%;
  height: 15%;
  background-image: url('https://vignette.wikia.nocookie.net/b__/images/7/79/Monkey_Ace_Icon.png/revision/latest?cb=20151212160103&path-prefix=bloons');
  background-size: cover;
  left: 47.5%;
  top: 59.5%;
}
.div{
position: relative;
width: 150px;
height: 150px;
top: -180px;
left: 25%;
}
.autoclickdiv{
left: 0px;
top: 0px;
position: relative;
width: 25px;
height: 25px;
background-color: green;
}
#inhoud {
position: relative;
left: 65%;
top: -280px;
background: yellow;
width: 100px;
height: 100px;
}
#erin1 {
position: relative;
left: 0px;
top: 0px;
background: blue;
width: 20px;
height: 20px;
}
#erin2 {
position: relative;
left: 80px;
top: 60px;
background: red;
width: 20px;
height: 20px;
}
