h1 {color: #000000;
  font-size: 200%;
text-align: center;}



h2 {color:	#4f4f4f;
 font-size: 330%;
 text-align: center;}
 
 
 h3 {color:	#000000;
 font-size: 110%;
 margin-left: 10px;
 }
 
.one{
color: white;
}

.uitlegdiv{
background:url("http://bgfons.com/uploads/newspaper/newspaper_texture2845.jpg");
width:30%;
height:1150px;
left: 5%;
position: relative;
}


body{
background:url("https://img00.deviantart.net/5e6e/i/2010/201/8/a/rice_paper_texture_by_maplerose_stock.jpg");


}

#foto {
background: url('http://www.greatamericancookies.com/app/themes/greatamericancookies/library/images/home/carousel3.png');
background-size: cover;
width: 250px;
height: 250px;
position: relative;
top: -1100px;
left: 75%;
}

#infinitycoockies {
font-size: 400%;
position: relative;
top: -980px;
left: 75%;
}

#javatext {
font-size: 250%;
position: relative;
top: -800px;
left: 60%;
}

#knopterug {
transform: rotate(180deg);
margin-left: 0.1%;
position: relative;
background-size: 40px 70px;
background: url('https://image.flaticon.com/icons/svg/60/60758.svg');
background-size: cover;
width: 60px;
height: 70px;
top:-1200px;
left: 0.1%
}

#knopveder {
position: relative;
background-size: 40px 70px;
background: url('https://image.flaticon.com/icons/svg/60/60758.svg');
background-size: cover;
width: 60px;
height: 70px;
top: -1270px;
left: 96.5%;
}
 
Cookie clicker


.cheetbar{












background-color:#15bac8;










border: none;










}


























.cookie{










position: relative;














width: 150px;










height: 150px;










background-image: url("http://www.greatamericancookies.com/app/themes/greatamericancookies/library/images/home/carousel3.png");










border: none;










background-size: cover;










background-color:#15bac8;










}










.autoclickUpgrade{






background-image: url("https://wouterwe.github.io/autoupgrade.png");






border: none;






background-size: cover;






background-color:#15bac8;






width: 160px;






height: 120px;






position: relative;






left: -90px;






top: -60px;






}














.autoclickdiv{










left: -62.5px;










top: 0px;










position: relative;










width: 25px;










height: 25px;










background-color:transparent;










background-size: cover;






}






























.Upgrade{










background-image: url("https://wouterwe.github.io/factory.jpg");






border: none;






width: 160px;






height: 110px;






padding: 60px 80px;






background-color:white;






background-size:contain;






left: 120px;






top: 110px;






position: relative;






}


























body{










background-color:#15bac8;










}






#upgradetext {






left: 120px;






top: 110px;






position: relative;






}






#upgradetext2 {






left: -90px;






top: -60px;






position: relative;






}






#upgradekostenclick{


top: 85px;


left: -65px;


position: relative;


width: 160px;


}






#upgradekostenauto{


top: 105px;


left: 0%;


position: relative;


}






#terugknop{


background-color: #50DB8B;


width: 111px;


height: 30px;


position: relative;


top: -875px;


}






#terugknoptext {


text-align: center;


position: relative;


color: black;


top: 20%


}






a {


text-decoration: none;


}


Info page schieten


h1 {color: #000000;




font-size: 200%;


text-align: center;}














h2 {color:	#4f4f4f;


font-size: 330%;


text-align: center;}










h3 {color:	#000000;


font-size: 110%;


margin-left: 10px;


}






.one{


color: white;


}






.uitlegdiv{


background:url("http://bgfons.com/uploads/newspaper/newspaper_texture2845.jpg");


width:30%;


height:1150px;


left: 5%;


position: relative;


}










body{


background:url("https://img00.deviantart.net/5e6e/i/2010/201/8/a/rice_paper_texture_by_maplerose_stock.jpg");










}






#foto {


background: url('https://wouterwe.github.io/button.png');


background-size: cover;


background-size: 250px 250px;


width: 250px;


height: 250px;


position: relative;


top: -1100px;


left: 75%;


}






#infinitycoockies {


font-size: 400%;


position: relative;


top: -980px;


left: 75%;


}






#javatext {


font-size: 200%;


position: relative;


top: -650px;


left: 75%;


}






#knopterug {


transform: rotate(180deg);


margin-left: 0.1%;


position: relative;


background-size: 40px 70px;


background: url('https://image.flaticon.com/icons/svg/60/60758.svg');


background-size: cover;


width: 60px;


height: 70px;


top:-1200px;


left: 0.1%


}






#knopveder {


position: relative;


background-size: 40px 70px;


background: url('https://image.flaticon.com/icons/svg/60/60758.svg');


background-size: cover;


width: 60px;


height: 70px;


top: -1270px;


left: 96.5%;


}
