


.div1 {




width: 400px;


height: 400px;


position: relative;


background-image: url("https://ak6.picdn.net/shutterstock/videos/16907806/thumb/1.jpg");


}


.brick {


opacity: 0.0;


width: 60px;


height: 60px;


position: relative;


background-image: url("https://vignette.wikia.nocookie.net/b__/images/1/10/BMC_Monkey_Ace_Fix.png/revision/latest/scale-to-width-down/310?cb=20151222214114&path-prefix=bloons");


background-size: cover;






top: 0;


left: 0;


}


.button {


opacity: 25.25;


left: 400px;


top: -430px;


width: 100px;


height: 75px;


position: relative;






background: url("https://wouterwe.github.io/button.png");


background-repeat: no-repeat;


background-size: 100px 75px;


backdround-size: cover;


border: none;


}


#kogel {


opacity: 0.0;


width: 30px;


height: 30px;


position: relative;


background-image:url("https://wouterwe.github.io/firball2.png");


background-size: cover;


}


#pistol {


width: 100px;


height: 90px;


position: relative;


background-image:url("https://wouterwe.github.io/Mortar_Tower_Icon%20(1).png");


background-size: cover;


}


#terugknop{


background-color: #50DB8B;


width: 111px;


height: 30px;


position: relative;


}






#terugknoptext {


text-align: center;


position: relative;


color: black;


top: 20%


}






a {


text-decoration: none;


}
